<h1 class="text-bg-light d-inline-flex rounded p-2 mx-3 fw-bold">
    Your Dashboard
</h1>
</header>
<main class="container container-fluid mt-5">
    <div id="new-post" class="d-flex justify-content-center">
        <button type="button" id="new-post" class="btn btn-dark w-50">+ New Post</button>
    </div>
    