<h1 class="text-bg-light d-inline-flex rounded p-2 mx-3 fw-bold">
    The Tech Blog
</h1>
</header>
<main class="container container-fluid mt-5">
    {{#each posts as |post|}}
    <div class="border border-dark mb-4">
        <div class="d-flex bg-dark p-2">
            <h3 class="text-light">
                {{post.title}}
            </h3>
            <p class="ms-auto text-light">
                Posted by {{post.user.username}} on {{format_date post.date_created}}
            </p>
        </div>
        <p class="p-2">
            {{post.description}}
        </p>
    </div>
    {{/each}}