<h1 class="text-bg-light d-inline-flex rounded p-2 mx-3 fw-bold">
    The Developers Blog
</h1>
</header>
<main class="container container-fluid mt-5">
    <div class="border border-dark">
        <h2 class="p-2 bg-dark text-light">Login</h2>
        <form class="form login-form p-3">
            <div class="form-group">
                <label for="username-login">Username</label>
                <br>
                <input class="form-input" type="text" id="username-login" />
            </div>
            <div class="form-group">
                <label for="password-login">Password</label>
                <br>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-dark" type="submit">login</button>
            </div>
        </form>
        <a href="/signup" class="p-3 mb-3 link-dark">Sign up instead</a>
    </div>

    <script src="./js/login.js"></script>